<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @task, local: true) do |f| %>
        <div class="form-group">
         <p>ステータス</p>
          <%= f.text_area :status, class: 'form-control', rows: 2 %>
        </div>
        <div class="form-group">
          <p>タスク</p>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'tasks', tasks: @tasks %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div>
        <h1>メッセージ一覧</h1>
    </div>
  </div>
<% end %>